Repository Agile-Waterfall/flooq, pull requests merged in 2022-06, with the labels that each got.

#163 Choose a License
  LICENSE
Labels: important

#164 Add roles to identity
  .gitignore
  src/identity/Flooq.Identity/HostingExtensions.cs
  src/identity/Flooq.Identity/Migrations/20220525074119_AddRoles.Designer.cs
  src/identity/Flooq.Identity/Migrations/20220525074119_AddRoles.cs
  src/identity/Flooq.Identity/Pages/ExternalLogin/Callback.cshtml.cs
  src/identity/Flooq.Identity/Services/IUserService.cs
  src/identity/Flooq.Identity/Services/UserService.cs
Labels: api, identity

#127 Fixed axios error and renamed fields to match API definitions
  src/executor/package.json
  src/executor/source/Dataflow.ts
  src/executor/source/api/ApiWrapper.ts
  src/executor/source/routes/DataflowRouter.ts
  src/executor/spec/api/ApiInterface.spec.ts
  src/executor/spec/api/ApiWrapper.spec.ts
  src/executor/spec/routes/DataflowRouter.spec.ts
Labels: api

#168 Cleanup frontend to remove unused fields & extend node documentations
  src/editor/components/dialog.tsx
  src/editor/components/graph/http-input-node.tsx
  src/editor/components/graph/http-output-node.tsx
  src/editor/components/graph/node-types.ts
  src/editor/components/graph/node.tsx
  src/editor/components/graph/script-node.tsx
  src/editor/pages/account.tsx
  src/editor/public/docs/http-input-node.md
  src/editor/public/docs/script-node.md
  src/executor/package-lock.json
Labels: editor
