Repository Agile-Waterfall/flooq, pull requests merged in 2022-05, with the labels that each got.

#109 Replacing text in body of HttpOutputNode
  src/executor/.eslintrc.js
  src/executor/package.json
  src/executor/source/Index.ts
  src/executor/source/executor/Linearization.ts
  src/executor/source/executor/nodes/HttpInputNode.ts
  src/executor/source/executor/nodes/HttpOutputNode.ts
  src/executor/source/routes/DataflowRouter.ts
  src/executor/spec/executor/Executor.spec.ts
  src/executor/spec/executor/nodes/HttpOutputNode.spec.ts
  src/executor/spec/executor/nodes/ScriptNode.spec.ts
  src/executor/spec/routes/DataflowRouter.spec.ts
  src/executor/spec/routes/request/WebRequest.spec.ts
Labels: enhancement, executor

#113 Setting staging as default api in executor
  src/executor/.env
  src/executor/package.json
Labels: enhancement, executor

#106 User Story: Build UI Tests
  src/editor/nightwatch.conf.js
  src/editor/package-lock.json
  src/editor/package.json
  src/editor/spec/e2e/pages.js
Labels: editor

#119 Adding Authorization to the executor
  src/executor/.env
  src/executor/package-lock.json
  src/executor/package.json
  src/executor/source/api/ApiWrapper.ts
  src/executor/source/request/Authentication.ts
  src/executor/source/request/WebRequest.ts
  src/executor/spec/api/ApiWrapper.spec.ts
  src/executor/spec/executor/Executor.spec.ts
Labels: enhancement, editor

#128 Adding jsdoc checking to the executor
  src/executor/.eslintrc.js
  src/executor/package-lock.json
  src/executor/package.json
  src/executor/source/executor/Executor.ts
  src/executor/source/executor/nodes/HttpOutputNode.ts
  src/executor/source/executor/nodes/ScriptNode.ts
  src/executor/source/request/Authentication.ts
  src/executor/source/utils/HttpStatusCode.ts
  src/executor/spec/testingUtils/GraphUtils.ts
Labels: enhancement, executor

#130 Redesign & Cleanup
  src/editor/.env
  src/editor/.storybook/preview.js
  src/editor/components/flow/new-node-dialog.tsx
  src/editor/components/flow/node-type-option.tsx
  src/editor/components/graph/node-types.ts
  src/editor/components/list/data-flow-list-item.tsx
  src/editor/components/list/list-header.tsx
  src/editor/components/list/list-item-status.tsx
  src/editor/components/list/list-item.tsx
  src/editor/components/list/list.tsx
  src/editor/package-lock.json
  src/editor/package.json
  src/editor/pages/_app.tsx
  src/editor/pages/flows/[id].tsx
  src/editor/pages/index.tsx
  src/editor/pages/logout-done.tsx
  src/editor/stories/list/ListHeader.stories.tsx
  src/editor/stories/list/ListItem.stories.tsx
  src/identity/Flooq.Identity/Pages/Account/AccessDenied.cshtml
  src/identity/Flooq.Identity/Pages/Account/Login/Index.cshtml
  src/identity/Flooq.Identity/Pages/Account/Logout/Index.cshtml
  src/identity/Flooq.Identity/Pages/Account/Logout/LoggedOut.cshtml
  src/identity/Flooq.Identity/Pages/Index.cshtml
  src/identity/Flooq.Identity/Pages/Shared/_Layout.cshtml
Labels: editor

#131 Adding Identity badge to README
  README.md
Labels: documentation

#105 User-Story Node with multiple output handles
  src/executor/.eslintrc.js
  src/executor/package-lock.json
  src/executor/package.json
  src/executor/source/executor/Executor.ts
  src/executor/source/executor/nodes/HttpInputNode.ts
  src/executor/source/executor/nodes/HttpOutputNode.ts
  src/executor/source/executor/nodes/ScriptNode.ts
  src/executor/source/request/Authentication.ts
  src/executor/source/utils/HttpStatusCode.ts
  src/executor/spec/executor/Executor.spec.ts
  src/executor/spec/executor/nodes/HttpInputNode.spec.ts
  src/executor/spec/executor/nodes/ScriptNode.spec.ts
  src/executor/spec/testingUtils/GraphUtils.ts
Labels: enhancement

#136 Extend token/user endpoint to include token ids.
  src/api/Flooq.Api/Controllers/TokenController.cs
  src/api/Flooq.Api/Services/ITokenService.cs
  src/api/Flooq.Api/Services/TokenService.cs
  src/api/Flooq.IntegrationTest/TokenTest.cs
  src/api/Flooq.IntegrationTest/TokenTestUnauthorized.cs
  src/api/Flooq.Test/Controllers/TokenControllerTest.cs
  src/api/Flooq.Test/Services/TokenServiceTest.cs
Labels: api

#165 Moving docs files to include them in the docker image
  src/editor/components/graph/docs-dialog.tsx
  src/editor/pages/api/flows/docs.ts
  src/editor/public/docs/http-input-node.md
  src/editor/public/docs/http-output-node.md
  src/editor/public/docs/no-documentation-present.md
  src/editor/public/docs/script-node.md
  src/editor/stories/dashboard/DataFlowList.stories.tsx
Labels: bug
