Repository Agile-Waterfall/flooq, pull requests merged in 2022-04, with the labels that each got.

#57 Update ReactFlow
  src/editor/components/form/input.tsx
  src/editor/components/form/select.tsx
  src/editor/components/form/textarea.tsx
  src/editor/components/graph/filter-node.tsx
  src/editor/components/graph/http-input-node.tsx
  src/editor/components/graph/http-output-node.tsx
  src/editor/components/graph/node.tsx
  src/editor/helper/edges.ts
  src/editor/package-lock.json
  src/editor/package.json
  src/editor/pages/flows/[id].tsx
  src/editor/spec/edegs.spec.ts
  src/editor/styles/theme-custom.scss
Labels: editor

#60 Feature: Edit a Data Flow
  src/editor/components/form/button.tsx
  src/editor/components/graph/node.tsx
  src/editor/components/message.tsx
  src/editor/components/page-title.tsx
  src/editor/pages/_app.tsx
  src/editor/pages/api/flows/save.ts
  src/editor/pages/flows/[id].tsx
  src/editor/public/theme.js
  src/editor/styles/globals.scss
  src/editor/styles/theme-custom.scss
Labels: editor

#65 Storybook
  .github/workflows/ci.editor.yml
  src/editor/.eslintrc.js
  src/editor/.gitignore
  src/editor/.storybook/flooq-light-theme.js
  src/editor/.storybook/main.js
  src/editor/.storybook/manager.js
  src/editor/.storybook/preview.js
  src/editor/package-lock.json
  src/editor/package.json
  src/editor/stories/Button.stories.tsx
  src/editor/tailwind.config.js
Labels: enhancement

#67 UC: list data flows
  src/editor/pages/api/flows.json
  src/editor/pages/api/flows.tsx
  src/editor/pages/api/flows/list.ts
  src/editor/pages/index.tsx
Labels: enhancement, editor

#70 Feature: Add edit popup
  src/editor/.eslintrc.js
  src/editor/.storybook/main.js
  src/editor/components/dialog.tsx
  src/editor/components/flow/edit-dialog.tsx
  src/editor/components/form/button.tsx
  src/editor/components/form/input.tsx
  src/editor/components/form/select.tsx
  src/editor/components/form/textarea.tsx
  src/editor/components/graph/filter-node.tsx
  src/editor/components/graph/http-input-node.tsx
  src/editor/components/graph/http-output-node.tsx
  src/editor/components/list/data-flow-list-item.tsx
  src/editor/components/list/list-item-status.tsx
  src/editor/package.json
  src/editor/pages/api/flows/[id].tsx
  src/editor/pages/api/flows/delete.ts
  src/editor/pages/flows/[id].tsx
  src/editor/pages/index.tsx
  src/editor/stories/Button.stories.tsx
  src/editor/stories/form/Button.stories.tsx
  src/editor/stories/form/Input.stories.tsx
  src/editor/stories/form/Select.stories.tsx
  src/editor/stories/form/TextArea.stories.tsx
  src/editor/stories/list/DataFlowListItem.stories.tsx
Labels: enhancement, editor

#58 UC: Add javascript node
  src/editor/.storybook/main.js
  src/editor/components/dialog.tsx
  src/editor/components/graph/node.tsx
  src/editor/components/graph/script-node.tsx
  src/editor/components/list/data-flow-list-item.tsx
  src/editor/components/page-title.tsx
  src/editor/next.config.js
  src/editor/package-lock.json
  src/editor/package.json
  src/editor/pages/flows/[id].tsx
  src/editor/pages/index.tsx
  src/editor/stories/list/DataFlowListItem.stories.tsx
  src/editor/styles/settings.scss
  src/editor/styles/theme-custom.scss
Labels: editor, executor

#79 UC: add new node
  .github/workflows/ci.editor.yml
  src/editor/components/dialog.tsx
  src/editor/components/flow/new-node-dialog.tsx
  src/editor/components/flow/node-type-option.tsx
  src/editor/components/graph/node-types.ts
  src/editor/components/graph/script-node.tsx
  src/editor/pages/flows/[id].tsx
  src/editor/spec/graph/node-types.spec.ts
Labels: editor

#80 Feature: Add Node Stories
  src/editor/.storybook/main.js
  src/editor/.storybook/preview.js
  src/editor/components/dialog.tsx
  src/editor/components/flow/new-node-dialog.tsx
  src/editor/components/form/input.tsx
  src/editor/components/form/select.tsx
  src/editor/components/form/textarea.tsx
  src/editor/components/graph/node.tsx
  src/editor/components/graph/script-node-dialog.tsx
  src/editor/components/graph/script-node.tsx
  src/editor/next.config.js
  src/editor/package-lock.json
  src/editor/package.json
  src/editor/pages/_app.tsx
  src/editor/public/theme.js
  src/editor/stories/dialog/Edit.stories.tsx
  src/editor/stories/dialog/New.stories.tsx
  src/editor/stories/dialog/Script.stories.tsx
  src/editor/stories/graph/Node.stories.tsx
  src/editor/tailwind.config.js
Labels: editor

#68 User Story: Execute Dataflow
  src/editor/components/form/code.tsx
  src/editor/components/form/editor.tsx
  src/editor/components/form/input.tsx
  src/editor/components/graph/editor-dialog.tsx
  src/editor/components/graph/filter-node.tsx
  src/editor/components/graph/http-input-node.tsx
  src/editor/components/graph/http-output-node.tsx
  src/editor/components/graph/node-types.ts
  src/editor/components/graph/node.tsx
  src/editor/components/graph/script-node.tsx
  src/editor/helper/nodes.ts
  src/editor/spec/nodes.spec.ts
  src/editor/stories/dialog/Script.stories.tsx
  src/editor/stories/graph/Node.stories.tsx
  src/executor/.eslintrc.js
  src/executor/package-lock.json
  src/executor/package.json
  src/executor/source/ApiInterface.ts
  src/executor/source/Dataflow.ts
  src/executor/source/Index.ts
  src/executor/source/api/ApiInterface.ts
  src/executor/source/api/ApiWrapper.ts
  src/executor/source/executor/Executor.ts
  src/executor/source/executor/Linearization.ts
  src/executor/source/executor/nodes/HttpInputNode.ts
  src/executor/source/executor/nodes/HttpOutputNode.ts
  src/executor/source/request/WebRequest.ts
  src/executor/source/routes/DataflowRouter.ts
  src/executor/source/routes/VersionRouter.ts
  src/executor/source/utils/HttpStatusCode.ts
  src/executor/source/utils/logging/Logger.ts
  src/executor/spec/ApiInterface.spec.ts
  src/executor/spec/api/ApiInterface.spec.ts
  src/executor/spec/api/ApiWrapper.spec.ts
  src/executor/spec/executor/Executor.spec.ts
  src/executor/spec/executor/Linearization.spec.ts
  src/executor/spec/executor/nodes/HttpInputNode.spec.ts
  src/executor/spec/executor/nodes/HttpOutputNode.spec.ts
  src/executor/spec/routes/DataflowRouter.spec.ts
  src/executor/spec/routes/VersionRouter.spec.ts
  src/executor/spec/routes/request/WebRequest.spec.ts
  src/executor/spec/testingUtils/GraphUtils.ts
Labels: enhancement, editor, executor

#86 User Story: Add Javascript-Node
  src/editor/components/graph/node-types.ts
  src/editor/components/graph/script-node.tsx
  src/editor/stories/graph/Node.stories.tsx
  src/executor/package-lock.json
  src/executor/package.json
  src/executor/source/Dataflow.ts
  src/executor/source/executor/Executor.ts
  src/executor/source/executor/nodes/HttpOutputNode.ts
  src/executor/source/executor/nodes/ScriptNode.ts
  src/executor/spec/executor/Executor.spec.ts
  src/executor/spec/executor/nodes/ScriptNode.spec.ts
Labels: editor, executor

#83 Feature: Build Integration Tests
  src/api/.gitignore
  src/api/Flooq.Api/Controllers/DataFlowController.cs
  src/api/Flooq.Api/Domain/FlooqContext.cs
  src/api/Flooq.Api/Flooq.Api.csproj
  src/api/Flooq.Api/Migrations/20220419090201_RemoveDefaultDateToLastEdited.Designer.cs
  src/api/Flooq.Api/Migrations/20220419090201_RemoveDefaultDateToLastEdited.cs
  src/api/Flooq.Api/Migrations/FlooqContextModelSnapshot.cs
  src/api/Flooq.Api/Program.cs
  src/api/Flooq.IntegrationTest/DataFlowTest.cs
  src/api/Flooq.IntegrationTest/Flooq.IntegrationTest.csproj
  src/api/Flooq.IntegrationTest/FlooqWebApplicationFactory.cs
  src/api/Flooq.IntegrationTest/StatusTest.cs
  src/api/Flooq.IntegrationTest/VersionTest.cs
  src/api/FlooqApi.sln
  src/api/FlooqApi.sln.DotSettings.user
Labels: enhancement, api

#85 User Story: Save linearized graph
  src/api/Flooq.Api/Controllers/DataFlowController.cs
  src/api/Flooq.Api/Controllers/LinearizedGraphController.cs
  src/api/Flooq.Api/Controllers/VersionController.cs
  src/api/Flooq.Api/Domain/FlooqContext.cs
  src/api/Flooq.Api/Migrations/20220414121539_AddLinearizedGraph.Designer.cs
  src/api/Flooq.Api/Migrations/20220414121539_AddLinearizedGraph.cs
  src/api/Flooq.Api/Migrations/FlooqContextModelSnapshot.cs
  src/api/Flooq.Api/Models/LinearizedGraph.cs
  src/api/Flooq.Api/Program.cs
  src/api/Flooq.Api/Services/DataFlowService.cs
  src/api/Flooq.Api/Services/IDataFlowService.cs
  src/api/Flooq.Api/Services/ILinearizedGraphService.cs
  src/api/Flooq.Api/Services/LinearizedGraphService.cs
  src/api/Flooq.IntegrationTest/DataFlowTest.cs
  src/api/Flooq.IntegrationTest/FlooqWebApplicationFactory.cs
  src/api/Flooq.IntegrationTest/LinearizedGraphTest.cs
  src/api/Flooq.Test/Controllers/DataFlowControllerTest.cs
  src/api/Flooq.Test/Controllers/LinearizedGraphControllerTest.cs
  src/api/Flooq.Test/Services/DataFlowServiceTest.cs
  src/api/Flooq.Test/Services/LinearizedGraphServiceTest.cs
  src/executor/source/Dataflow.ts
  src/executor/source/api/ApiInterface.ts
  src/executor/source/api/ApiWrapper.ts
  src/executor/source/executor/Executor.ts
  src/executor/source/executor/Linearization.ts
  src/executor/source/routes/DataflowRouter.ts
  src/executor/spec/api/ApiInterface.spec.ts
  src/executor/spec/executor/Executor.spec.ts
  src/executor/spec/executor/Linearization.spec.ts
  src/executor/spec/routes/DataflowRouter.spec.ts
Labels: api, executor

#111 Executor: Update ESLint Rules
  src/executor/.eslintrc.js
  src/executor/source/Index.ts
  src/executor/source/executor/Linearization.ts
  src/executor/source/routes/DataflowRouter.ts
  src/executor/spec/executor/Executor.spec.ts
  src/executor/spec/executor/nodes/HttpOutputNode.spec.ts
  src/executor/spec/executor/nodes/ScriptNode.spec.ts
  src/executor/spec/routes/DataflowRouter.spec.ts
  src/executor/spec/routes/request/WebRequest.spec.ts
Labels: enhancement, executor
